.bma-login-link {
    color: #979797 !important;
    margin-top: 20px;
    padding-left: 10px;
}

.bma-login-button {
    margin-left: 10px;
}

.bma-login-fail {
    color: #b44;
    background-color: #f2dede;
    padding: 5px 0px 5px 10px;
    margin-bottom: 10px;
}

.item[no-lines].bma-login-bottom-border {
    border-bottom: 1px solid #979797; 
}