.bma-group-select-category {
    font-weight: bold;
    border-bottom: 1px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    padding-left: 5px;
}

.bma-group-select-item {
    border-bottom: 1px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
}