<ion-header>
    <ion-navbar>
        <ion-title>
                <img src="url(/../assets/img/BikeMapsLogo.png" class="bma-header-logo">
            {{ "HAZARD.TITLE" | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content id="hazard">

    <form>
        <ion-list class="bma-list-header">
            <ion-list-header class="bma-form-section-header">
                <button class="bma-form-section-header" (click)="toggleSection('detailsOpen')" [ngClass]="{'bma-form-invalid' : dateAlert || timeAlert || hazardTypeAlert}">
                    <ion-icon item-left name="arrow-dropdown" *ngIf="detailsOpen"></ion-icon>
                    <ion-icon item-left name="arrow-dropright" *ngIf="!detailsOpen"></ion-icon>
                    {{ "HAZARD.HAZARD_DETAILS" | translate }}
                </button>
            </ion-list-header>
            <ion-list>
                <ion-item class="bma-form-item" *ngIf="detailsOpen">
                    <ion-label stacked class="bma-stacked-label" style="color: #2c3e50;" [ngClass]="{'bma-form-invalid' : dateAlert}">{{ "HAZARD.DATE" | translate }}</ion-label>
                    <ion-datetime
                        class="bma-date-time"
                        displayFormat="MMM DD, YYYY"
                        pickerFormat="MMM DD, YYYY"
                        [(ngModel)]="hazardDetails.selectedDate"
                        [ngModelOptions]="{standalone: true }"
                        [dayNames] = "dayNames"
                        [dayShortNames] = "dayShortNames" 
                        [monthNames] = "monthNames"
                        [monthShortNames] = "monthShortNames"
                        [doneText] = "doneText"
                        [cancelText] = "cancelText">
                    </ion-datetime>
                </ion-item>
                <ion-item *ngIf="detailsOpen">
                    <ion-label stacked class="bma-stacked-label" style="color: #2c3e50;" [ngClass]="{'bma-form-invalid' : timeAlert}">{{ "HAZARD.TIME" | translate }}</ion-label>
                    <ion-datetime
                        displayFormat="hh:mm A"
                        pickerFormat="hh:mm A"
                        minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                        [(ngModel)]="hazardDetails.selectedTime"
                        [ngModelOptions]="{standalone: true }"
                        [dayNames] = "dayNames"
                        [dayShortNames] = "dayShortNames" 
                        [monthNames] = "monthNames"
                        [monthShortNames] = "monthShortNames"
                        [doneText] = "doneText"
                        [cancelText] = "cancelText"  >
                    </ion-datetime>
                </ion-item>
                <ion-item *ngIf="detailsOpen">
                    <label class="bma-form-label" style="color: #2c3e50;" [ngClass]="{'bma-form-invalid' : hazardTypeAlert}">{{ "HAZARD.TYPE" | translate }}</label>
                    <group-select [(selectedItem)]="hazardDetails.selectedHazardType" [displayText]="hazardDetails.selectedHazardType.text" [headerText]="'HAZARD.SELECT_TYPE' | translate" [groups]="hazardGroupChoices"></group-select>
                </ion-item>
            </ion-list>
        </ion-list>
        <ion-list class="bma-list-header">
            <ion-list-header class="bma-form-section-header">
                <button class="bma-form-section-header" (click)="toggleSection('descriptionOpen')">
                    <ion-icon item-left name="arrow-dropdown" *ngIf="descriptionOpen"></ion-icon>
                    <ion-icon item-left name="arrow-dropright" *ngIf="!descriptionOpen"></ion-icon>
                    {{ "HAZARD.DESCRIPTION" | translate }}
                </button>
            </ion-list-header>
            <ion-list>
                <ion-item *ngIf="descriptionOpen">
                    <ion-label stacked style="color: #2c3e50;" class="bma-stacked-label">
                        {{ "HAZARD.DESCRIPTION_TEXT" | translate }}
                    </ion-label>
                    <ion-textarea class="bma-form-textarea" [(ngModel)]="description.details" [ngModelOptions]="{standalone: true }"></ion-textarea>
                </ion-item>
            </ion-list>
        </ion-list>
        <ion-list class="bma-list-header">
            <ion-list-header class="bma-form-section-header">
                <button class="bma-form-section-header" (click)="toggleSection('personalDetailsOpen')">
                    <ion-icon item-left name="arrow-dropdown" *ngIf="personalDetailsOpen"></ion-icon>
                    <ion-icon item-left name="arrow-dropright" *ngIf="!personalDetailsOpen"></ion-icon>
                    {{ "HAZARD.PERSONAL_DETAILS" | translate }}
                </button>
            </ion-list-header>
            <ion-list>
                <ion-item *ngIf="personalDetailsOpen">
                    <label class="bma-form-label">{{ "COMMON_FORM.WHERE_BIKEMAPS" | translate }}</label>
                    <basic-select [(selectedItem)]="selectedSourceChoice" [displayText]="selectedSourceChoice.text" [headerText]="'COMMON_FORM.SELECT_OPTION' | translate" [items]="sourceChoices"></basic-select>
                </ion-item>
                <ion-item *ngIf="personalDetailsOpen">
                    <label class="bma-form-label">{{ "COMMON_FORM.BIRTH_YEAR" | translate }}</label>
                    <basic-select [(selectedItem)]="selectedHazardBirthYear" [displayText]="selectedHazardBirthYear.text" [headerText]="'COMMON_FORM.YEAR_SELECT' | translate" [items]="birthYearChoices"></basic-select>
                </ion-item>
                <ion-item *ngIf="personalDetailsOpen">
                    <label class="bma-form-label">{{ "COMMON_FORM.BIRTH_MONTH" | translate }}</label>
                    <basic-select [(selectedItem)]="selectedHazardBirthMonth" [displayText]="selectedHazardBirthMonth.text" [headerText]="'COMMON_FORM.MONTH_SELECT' | translate" [items]="birthMonthChoices"></basic-select>
                </ion-item>
                <ion-item *ngIf="personalDetailsOpen">
                    <label class="bma-form-label">{{ "COMMON_FORM.GENDER" | translate }}</label>
                    <basic-select [(selectedItem)]="selectedHazardGender" [displayText]="selectedHazardGender.text" [headerText]="'COMMON_FORM.GENDER_SELECT' | translate" [items]="genderChoices"></basic-select>
                </ion-item>
                <ion-item *ngIf="personalDetailsOpen">
                    <label class="bma-form-label">{{ "COMMON_FORM.CYCLING_FREQUENCY" | translate }}</label>
                    <basic-select [(selectedItem)]="selectedHazardCyclingFrequency" [displayText]="selectedHazardCyclingFrequency.text" [headerText]="'COMMON_FORM.CYCLING_FREQUENCY_SELECT' | translate" [items]="cyclingFrequencyChoices"></basic-select>
                </ion-item>
                <ion-item *ngIf="personalDetailsOpen">
                    <ion-checkbox type="checkbox" [(ngModel)]="selectedSavePersonalDetails" [ngModelOptions]="{standalone: true }"></ion-checkbox>
                    <ion-label class="bma-form-label">{{ "COMMON_FORM.REMEMBER_PERSONAL_DETAILS" | translate }}</ion-label>
                </ion-item>
            </ion-list>
        </ion-list>
        <ion-buttons>
            <button ion-button color="bma-blue" class=" bma-form-button-inverse" (click)="cancelHazard()">
                {{ "COMMON_FORM.CANCEL_BUTTON" | translate }}
            </button>
            <button ion-button color="bma-blue" class="bma-form-button" [disabled]="!hazardTermsChecked" (click)="submitHazard()">
                {{ "COMMON_FORM.SUBMIT_BUTTON" | translate }}
            </button>
        </ion-buttons>
        <ion-item>
            <ion-checkbox type="checkbox" [(ngModel)]="hazardTermsChecked" [ngModelOptions]="{standalone: true}" (click)="showTerms()"></ion-checkbox>
            <ion-label class="bma-form-label">
                {{ "COMMON_FORM.DISCLAIMER" | translate }}
            </ion-label>
        </ion-item>
    </form>
</ion-content>