<ion-list>
    <button ion-item (click)="openNotificationsPage()" *ngIf="isAuthenticated">{{ "NOTIFICATIONS.TITLE" | translate }}</button>
    <button ion-item (click)="openSettingsPage()">{{ "MAP.SETTINGS" | translate }}</button>
    <button ion-item (click)="openLoginModal()" *ngIf="!isAuthenticated">{{ "MAP.LOGIN" | translate }}</button>
    <button ion-item (click)="openAboutPage()">{{ "MAP.ABOUT" | translate }}</button>
    <button ion-item (click)="logout()" *ngIf="isAuthenticated">{{ "MAP.LOGOUT" | translate }}</button>
</ion-list>